*.*~
__pycache__/
*.pkl
data/
**/*.egg-info
.python-version
.vscode/
.DS_Store
.pytest_cache/
profiles/
venv/*
venv
*venv*
.vim

CybORG\.egg-info/

_pycache_/
*.pyc

CybORG/Logs/
CybORG/Emulator/Logs/
CybORG/Emulator/logs/
CybORG/Emulator/Config/emulatorconfig.ini
docs/_build/
dist

CybORG/Shared/Config/config.ini

CybORG/Emulator/AWS/Config/awsconfig.ini

*.swp
*.pstats

.ipynb_checkpoints/
.idea

.last_networks/
.saved_statistics/
reward_history.csv
maddpg_reward_history.csv
rewards.csv
rewards2.csv
rewards3.csv
rewards4.csv
rewards5.csv
cmp.py
blue_agent_0.csv
blue_agent_1.csv
blue_agent_2.csv
blue_agent_3.csv
blue_agent_4.csv
output.csv